   <h1>
        <img  class="company-logo" src= "https://spacegrant.arizona.edu/sites/spacegrant.arizona.edu/files/about/logos/nic_print3600x2993ppi.png" ></img>
    </h1>
    
<ul class="card">
<li>
  <input type="checkbox" name=""/>
  <a href="show/<%= todo.id %>"><%= todo.description %></a>
  <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
</li>
</ul>

<div id="new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>
<a href="Show.html">Go back to Show </a>